extends layout

block content
	h1
		#[img.hubot(src='https://octodex.github.com/images/hubot.jpg')]
	each hubuser in users
				div.user
						div.name #{hubuser.nameOnProfile}
						#[img.avatar(src='#{hubuser.avatar}')] #[a(href='http://#{hubuser.blog}') #{hubuser.blog}]