extends layout

block content 
	h3= title
	form#formAddUser(name="findblogs", method="post",action="/findblogs")
		div.userinput
					div.textBoxDiv 
						input(type="text", placeholder="GitHub user or org name", name="username" class="textbox")
						button(type="submit" class="btnSearch") search