body {
	padding: 25px;
	font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	font-size: 22px;
}

img {
	height: 300px;
	width: auto;
	padding-bottom: 2px;
}

/* Search page styles
*/

.userinput {
	width: 500px;
	height: 100px;
	background-color: #003333;
	border: 3px solid #0D4D4D;
	border-radius: 25px;
	text-align: center;
}

.textBoxDiv {
	width: auto;
	height: 50%;
	padding-top: 20px;
	padding-right: 25px;
	text-align: left;
}

.textbox {
	width: 75%;
	height: 50%;
	font-size: 30px;
	border: 2px;
	border-radius: 10px;
	padding-top: 25px;
}

.searchButtonDiv {
	/*padding-left: 25px;*/
	/*text-align: right;*/
}

.btnSearch {
	width: auto;
	height: 100%;
	font-size: 30px;
	border: 2px;
	border-radius: 10px;
}

/* Results page styles
*/

.hubot {
	height: 300px;
	width: auto;
}

.name {
	height: 25px;
	font: 26px;
	font-style: bold;
	/*padding-top: 15px;*/
}

.blog-link {
	height: 50px;
	font-size: 22px;
	color: #145F5F;
}

.avatar {
	height: 230px;
	width: auto;
	border: 20px;
	border-radius: 125px;
}

.user {
	height: 350px;
	width: 300px;
	margin: 25px 25px 25px 25px;
	padding-bottom: 35px;
	background-color: #BFDBDB;
	text-align: center;
	border: 20px;
	border-radius: 25px;
	float: left;
}

.wrapper {
	border: 2px transparent #000;
	overflow: hidden;
}

@media screen and (max-width: 800px) {
	.wrapper {
		height: auto;
	}
}