body {
	padding: 25px;
	font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	font-size: 22px;
}

a:hover {
    color: #7FB2B2;
}

img {
	height: 300px;
	width: auto;
	padding-bottom: 2px;
}

/* Search page styles
*/

.userinput {
	width: 550px;
	height: 100px;
	background-color: #003333;
	border: 3px solid #0D4D4D;
	border-radius: 25px;
	text-align: center;
}

.textBoxDiv {
	width: auto;
	height: 50%;
	padding-top: 20px;
	padding-right: 25px;
	text-align: left;
}

.textbox {
	width: 75%;
	height: 50%;
	font-size: 26px;
	border: 2px;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 1px 10px 10px 10px;
}

.searchButtonDiv {
	/*padding-left: 25px;*/
	/*text-align: right;*/
}

.btnSearch {
	width: auto;
	height: 100%;
	font-size: 26px;
	border: 2px;
	border-radius: 10px;
}

/* Results page styles
*/

.hubot {
	height: 300px;
	width: auto;
}

.name {
	height: 25px;
	font: 26px;
	font-style: bold;
	color: #ECF0F1;
	/*padding-top: 15px;*/
}

.blog-link {
	height: 50px;
	font-size: 22px;
	color: #ECF0F1;
	margin-bottom: 25px;
}

.avatar {
	height: 230px;
	width: auto;
	border: 20px;
	border-radius: 125px;
}

.user {
	height: 400px;
	width: 300px;
	margin: 25px 25px 25px 25px;
	padding-bottom: 35px;
	background-color: #444444;
	text-align: center;
	border: 20px;
	border-radius: 25px;
	float: left;
}

.github-button {
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
}

.wrapper {
	border: 2px transparent #000;
	overflow: hidden;
}

@media screen and (max-width: 800px) {
	.wrapper {
		height: auto;
	}
}

/* Footer
*/

footer {
	background-color: #ECF0F1;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 2px;
	border: 20px;
	border-radius: 25px;
	font-size: 18px;
	font-style: bold; 
	text-align: center; 
	margin-top: 50px;
}

footer a {
	font-size: 18px;  
	font-style: bold; 
}

.tea-icon {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.star_button {
	margin-bottom: 25px;
	height: 50px;
	width: 50px;
}